body {
    background: #0e0e0e;
    color: white;
    font-family: 'Segoe UI', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .container {
    text-align: center;
    background: #1a1a1a;
    padding: 40px;
    border-radius: 16px;
    box-shadow: 0 0 16px #000;
  }
  
  h1 {
    font-size: 2.5rem;
    margin-bottom: 16px;
  }
  
  p {
    font-size: 1.2rem;
    margin-bottom: 24px;
  }
  
  .btn-group {
    display: flex;
    justify-content: center;
    gap: 20px;
  }
  
  .btn {
    background-color: #4f46e5;
    color: white;
    padding: 12px 24px;
    text-decoration: none;
    border-radius: 8px;
    transition: 0.3s;
  }
  
  .btn:hover {
    background-color: #3730a3;
  }  


    /* LOGIN REGISTER PAGE */


  .auth-page {
    background: linear-gradient(135deg, #1f1f2e, #0e0e0e);
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Segoe UI', sans-serif;
  }
  
  .auth-container {
    background: #222;
    padding: 40px;
    border-radius: 12px;
    box-shadow: 0 0 20px #000;
    text-align: center;
    width: 300px;
  }
  
  .auth-container h2 {
    margin-bottom: 20px;
    color: white;
  }
  
  .auth-container input {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: none;
    border-radius: 6px;
  }
  
  .auth-container .btn {
    width: 100%;
    padding: 10px;
    background-color: #4f46e5;
    border: none;
    color: white;
    font-weight: bold;
    cursor: pointer;
    border-radius: 6px;
  }
  
  .auth-container a {
    color: #a5b4fc;
    text-decoration: none;
  }
  
  .auth-container a:hover {
    text-decoration: underline;
  }
  