*{
    /* background-color: #161716; */
    margin: 0;
    padding: 0;
}

.header{
    width: 100%;
    height: 100px;
    background-color: #D0D0D0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header img {
    background-color: #D0D0D0;
    width: 75px;
    height: 75px;
    margin-left: 50px;
}

.buttons {
    background-color: #D0D0D0;
    margin-right: 50px;
}

.buttons button {
    background-color: #1E1E1E;
    border-radius: 10px;
    border: none;
    color: #FFFFFF;
    font-family: 'Zain', serif;
    font-size: 24px;
    padding: 10px 25px;
    margin-left: 20px;
    cursor: pointer;
}

.background-home {
    z-index: -1;
    position: absolute;
    width: 100%;
}

.hero {
    width: 1000px;
    height: 750px;
    background-color: rgb(217, 217, 217, 50%);
    position: absolute;
    top: 35%;
    left: 10%;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
}

.hero h1 {
    font-family: 'Pixelify Sans', serif;
    text-align: center;
}

.hero h2 {
    font-family: 'Zain', serif;
    text-align: center;
}

.hero img {
    width: 100px;
    height: 100px;
}