@font-face {
  font-family: 'Zain';
  src: url('./Zain/Zain-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Zain-Bold';
  src: url('./Zain/Zain-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
} 