* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Zain', sans-serif;
  }


.maininv-invCont {
    min-height: 100vh;
    background-color: #161716;
    color: white;
    display: flex;
    width: 100%;
    margin: 0;
    padding: 0;
    position: relative;
    overflow-x: hidden;
  }


  .maininv-invContent {
    flex: 1;
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 0;
    margin-top: 0;
  }

.maininv-sortingSquare {
    display: flex;
    background-color: rgba(44, 43, 43, 0.5);
    width: 15vw;
    height: 80vh;
    gap: 1 rem;
    border-radius: 10px;
    margin-left: 2%;
    margin-top: 2%;
    text-align: center;
    flex-direction: column;
}

.maininv-sortingSquare option {
    background-color: rgb(50, 49, 49);
    border:transparent
}


.maininv-sortingSquare select {
    background-color: rgb(54, 53, 53);
    color:white;
    width: 12vw;
    height: 5vh;
    justify-self: center;
    margin: 0 auto;
    border-radius: 10px;
    font-size: 28px;
    transition: opacity 0.5s ease, max-height 0.5s ease;
    border: none;
    outline: none;
}

.maininv-sortingSquare select.open {
    opacity: 1; /* Show when 'open' class is added */
}

.maininv-sortingSquare select option {
    border-radius: 10px;
}
.maininv-innerSort {
    background-color: rgb(54, 53, 53);
    color: white;
    width: 190px;
    height: 35px;
    border-radius: 10px;
    margin: 0 auto;
    text-align: center;
    font-size: 24px;
    margin-top: 4%;
    
}

.maininv-inventory-sorting-content {
    background-color: transparent;
    
}

.maininv-inventory-Info {
    background-color: rgba(44, 43, 43, 0.5);
    width: 62vw;
    height: 6vh;
    gap: 0.5 rem;
    border-radius: 10px;
    margin-left: 0.75%;
    margin-top: 2.6%;
    text-align: left;
    font-size: 27px;
    text-indent: 1.5%;
    flex-direction: row;
    display: flex;
    
}

.maininv-inventory-capacity {
    background-color: rgb(54, 53, 53);
    color: white;
    width: 190px;
    height: 30px;
    border-radius: 10px;
    
    text-align: left;
    font-size: 24px;
    align-self: center;
    margin-top: 0.1%;
    margin-left:auto;
    margin-right: 1%;
    text-indent: 5%;
    
}

.maininv-Inventory-Data-Container {
    display: flex;
    flex-direction: start;
    margin-left: 1%;
    margin-top: 0.75%;
    
}

.maininv-info-and-inside {
    flex-direction: row;
}
.maininv-actual-inventory {
    padding: 1rem;
    position: relative;
    align-content: flex-start;
    background-color: transparent;
    width: 62vw;
    height: 72.5vh;
    gap: 0.75rem;
    border-radius: 10px;
    margin-left: 0.75%;
    margin-top: 1%;
    text-align: left;
    font-size: 27px;
    text-indent: 1.5%;
    flex-direction: row;
    display: flex;
    flex-wrap: wrap;
    overflow-y: auto; /* scrolls vertically if content overflows */
    
}

.maininv-right-side-inv {
    flex-direction: column;
}
  
.maininv-inventory-items {
    width: 6.5vw;
    height: 6.5vw;
    background-color: rgb(54, 53, 53);
    margin-right: 0.2rem;
    border-radius: 10px;
    font-size: 1.2rem;
    transition: transform 0.3s ease;
}

.maininv-inventory-items:hover {
    transform: scale(1.25); /* Increase size by 10% on hover */
}

.maininv-inventory-items img {
    display: block;
    pointer-events: none;
    width: 50%;
    height: 50%;
    margin-left: auto;
    margin-right: auto;
    align-self: center;
}


.maininv-display {
    width: 200vw;
    height: 200vh;
    background-color: red;
    display: none;
    color:black;
}

.maininv-item-container {
   background-color: transparent;
}

.maininv-centered-box {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.5); /* Optional dark background */
    z-index: 1000;
  }
  
  .maininv-box-content {
    background-color: rgb(54, 53, 53);
    position: relative;
    width: 20vw;
    height: 50vh;
    border-radius: 10px;
    
  }

  .maininv-box-content img {
    display: block;
    pointer-events: none;
    width: 30%;
    height: 30%;
    margin-left: auto;
    margin-right: auto;
    align-self: center;
  }
  
  .maininv-close-btn {
    height: 2vw;
    width: 2vw;

    position: absolute;
    display: block;
    right: 0;
    top:0;
    padding: 0;
    color: black;
    font-size: 50px;
    cursor: pointer;
    text-align: center;
    text-justify: center;

  }

.maininv-amt {
    margin-top: auto;
    margin-right: 5%;
    display: relative;
    text-align: right;

}

.maininv-items {
    pointer-events: none;
    top: 50%;
    left: 50%;
}

.overlay-name {
    width: 100%;
    text-align: center;
}

.maininv-description {
    height: 15vh;
    width: 15vw;
    border-radius: 10px;
    background-color: black;
    margin: 0 auto;
    margin-top: 7%;
    text-align: center;
    line-height: 1.2; /* Add this line */
    color: white;     /* Optional: to make text visible on black background */
}


.maininv-item-stats {
    height: 5vh;
    width: 15vw;
    border-radius: 10px;
    background-color: black;
    margin: 0 auto;
    margin-top: 7%;
    text-align: center;
}